node_modules
build
.dockerignore
Dockerfile
Dockerfile.prod# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore