<ion-header>
  <ion-toolbar class="page-header-padding">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/{{currentTranslation}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <app-active-user [translation]="currentTranslation"></app-active-user>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-padding">
  <form>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text"></ion-input>
      <!-- <ion-note slot="error">
        <ng-container *ngIf="userNameControl.touched && userNameControl.invalid">
          <ng-container *ngIf="userNameControl.errors?.['required']"> Required </ng-container>
        </ng-container>
      </ion-note> -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Location/Region</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">App Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Collaborators</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <div class="login-btn-container">
      <ion-button *ngIf="!formSubmitting" mode="ios" type="submit">Submit</ion-button>
      <ion-spinner *ngIf="formSubmitting" name="dots"></ion-spinner>
    </div>
  </form>
</ion-content>
