.lookupRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid lightgray;

  ion-item {
    flex: 1;
  }
}

.spinner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
