<ion-button (click)="presentPopover($event)"> Change Translation </ion-button>
<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" [dismissOnSelect]="false">
  <ng-template>
    <ion-header mode="ios" class="ion-no-border">
      <div class="lookupRow">
        <ion-item lines="none">
          <ion-icon name="search" slot="start" color="medium"></ion-icon>
          <ion-input
            id="search-input"
            #searchBar
            type="text"
            [formControl]="searchControl"
            (ionChange)="searching = true"
          ></ion-input>
        </ion-item>
        <ion-button
          id="clear-search-button"
          mode="md"
          color="medium"
          *ngIf="searchControl.value"
          fill="clear"
          (click)="clearSearch()"
        >
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
    </ion-header>

    <ion-content id="lookupContent" class="ion-no-padding" forceOverscroll="false">
      <ion-list class="ion-no-padding">
        <ion-item
          [id]="item + '-lookup-option'"
          button="true"
          *ngFor="let item of itemSection"
          detail="false"
          (click)="selectValue(item)"
        >
          <ion-label style="white-space: pre-wrap">{{ item }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
