<ion-header>
  <ion-toolbar class="page-header-padding">
    <ion-title>Home {{currentTranslation}}</ion-title>
    <ion-buttons slot="end">
      <app-translation-dropdown
        *ngIf="translationList?.length > 0"
        [currentTranslation]="currentTranslation"
        [translationList]="translationList"
      ></app-translation-dropdown>
      <app-current-user-dropdown [translation]="currentTranslation" [label]="activeEmail"></app-current-user-dropdown>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-padding">
  <div *ngIf="loading" class="loader">
    <ion-spinner></ion-spinner>
  </div>
  <ng-container *ngIf="!loading">
    <ion-grid class="ion-no-padding ion-margin-vertical">
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-button mode="ios" (click)="publish()">
            <ion-icon name="add"></ion-icon>
            <ion-label>
              <ng-container *ngIf="!currentVersion || currentVersion == 0">Create </ng-container>
              <ng-container *ngIf="currentVersion && currentVersion > 0">Update </ng-container>
              App
            </ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-button class="ion-float-right" mode="ios" (click)="openFileUpload()">
            <ion-icon name="add"></ion-icon>
            <ion-label>Upload</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-accordion-group *ngIf="categories">
      <ion-accordion *ngFor="let category of categories" toggleIconSlot="start">
        <ion-item
          lines="none"
          slot="header"
          color="light"
          [ngClass]="{'hide-icon': !category.children || (category.children && category.children.length === 0)}"
        >
          <ng-container *ngTemplateOutlet="innerItem; context: {item: category}"></ng-container>
        </ion-item>
        <div *ngIf="(category.children && category.children.length > 0)" class="content-padding" slot="content">
          <ng-container *ngTemplateOutlet="accordionMain; context: {group: category}"></ng-container>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <h2 *ngIf="!categories">No data currently available, click the upload button to begin</h2>
  </ng-container>
</ion-content>

<ng-template #accordionMain let-group="group">
  <ion-accordion-group>
    <ng-container *ngTemplateOutlet="accordionSubMain; context: {group: group}"></ng-container>
  </ion-accordion-group>
</ng-template>

<ng-template #accordionSubMain let-group="group">
  <ng-container *ngFor="let child of group.children">
    <ng-container *ngIf="(child.children && child.children.length > 0); else endingItem">
      <ion-accordion toggleIconSlot="start">
        <ion-item lines="none" slot="header" color="light">
          <ng-container *ngTemplateOutlet="innerItem; context: {item: child}"></ng-container>
        </ion-item>
        <div class="content-padding" slot="content">
          <ng-container *ngTemplateOutlet="accordionMain; context: {group: child}"></ng-container>
        </div>
      </ion-accordion>
    </ng-container>
    <ng-template #endingItem>
      <ion-item color="light" lines="none">
        <ng-container *ngTemplateOutlet="innerItem; context: {item: child}"></ng-container>
      </ion-item>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #innerItem let-item="item">
  <ion-label *ngIf="!item.isEditing">{{item.name}}</ion-label>
  <ion-input #itemInput class="input-border" [hidden]="!item.isEditing" type="text" [(ngModel)]="item.name"></ion-input>
  <div slot="end">
    <ion-button *ngIf="item.isEditing" mode="ios" slot="end" fill="clear" (click)="cancelEdit($event, item)">
      <ion-icon color="medium" slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!item.isEditing" mode="ios" slot="end" fill="clear" (click)="startEdit($event, item, itemInput)">
      <ion-icon color="success" slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="item.isEditing" mode="ios" slot="end" fill="clear" (click)="saveEdit($event, item)">
      <ion-icon color="primary" slot="icon-only" name="save-outline"></ion-icon>
    </ion-button>
    <ion-button mode="ios" slot="end" fill="clear" (click)="deleteItem($event, item)">
      <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="!item.isEditing && item.hasOwnProperty('children')"
      mode="ios"
      slot="end"
      fill="clear"
      (click)="uploadItem($event, item)"
    >
      <ion-icon color="primary" name="cloud-upload-outline"></ion-icon>
    </ion-button>
  </div>
</ng-template>
