<ion-header>
  <ion-toolbar class="page-header-padding">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/{{currentTranslation}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <app-translation-dropdown
        *ngIf="translationList?.length > 0"
        [currentTranslation]="currentTranslation"
        [translationList]="translationList"
      ></app-translation-dropdown>
      <app-current-user-dropdown [translation]="currentTranslation" [label]="activeEmail"></app-current-user-dropdown>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-translation-form [settings]="isSettings"></app-translation-form>
</ion-content>
