<ion-header>
  <ion-toolbar class="page-header-padding">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/{{currentTranslation}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="translationList?.length > 0" id="settings-translation-dropdown-trigger">
        Change Translation
      </ion-button>
      <ion-popover trigger="settings-translation-dropdown-trigger" triggerAction="click" [dismissOnSelect]="true">
        <ng-template>
          <app-translation-dropdown
            [currentTranslation]="currentTranslation"
            [translationList]="translationList"
          ></app-translation-dropdown>
        </ng-template>
      </ion-popover>
      <ion-button id="settings-dropdown-trigger"> {{ activeUser }} </ion-button>
      <ion-popover trigger="settings-dropdown-trigger" triggerAction="click" [dismissOnSelect]="true">
        <ng-template>
          <app-current-user-dropdown [translation]="currentTranslation"></app-current-user-dropdown>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-translation isSettings="true"></app-translation>
