<ion-content [fullscreen]="true">
  <div class="main-container">
    <ion-card class="main-form-container">
      <form class="main-form" [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Confirmation Code</ion-label>
          <ion-input type="text" formControlName="confirmationControl"></ion-input>
          <ion-note slot="error">
            <ng-container *ngIf="confirmationControl.touched && confirmationControl.invalid">
              <ng-container *ngIf="confirmationControl.errors?.['required']"> Required </ng-container>
            </ng-container>
          </ion-note>
        </ion-item>
        <div class="main-btn-container">
          <ion-button *ngIf="!formSubmitting" mode="ios" type="submit">Sign Up</ion-button>
          <ion-spinner *ngIf="formSubmitting" name="dots"></ion-spinner>
        </div>
      </form>
    </ion-card>
  </div>
</ion-content>
