<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef hidden multiple (change)="selectFiles($event)" />
    <ion-icon name="cloud-upload-outline"></ion-icon>
    <h3>Drag and drop files here</h3>
    <h3>or</h3>
    <ion-button mode="ios" (click)="fileDropRef.click()">
      <ion-label>Browse for files</ion-label>
    </ion-button>
  </div>
  <ion-list>
    <ion-item *ngFor="let file of files; let i = index">
      <ion-label>
        <h2>{{ file.name }}</h2>
        <p>{{ formatBytes(file.size) }}</p>
      </ion-label>
      <ion-button mode="ios" slot="end" fill="clear" (click)="deleteFile(i)">
        <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-button mode="ios" (click)="uploadFiles()"> Upload </ion-button>
  </ion-toolbar>
</ion-footer>
